.summary {
  height: 700px;
  width: 100vw;
  background-image: url("../images/section_2.jpeg");
  background-position: right;
  background-repeat: no-repeat;
  background-color: #231b50;
  background-size: cover;
  box-shadow: 0px -24px 16px rgb(35 27 80 / 70%);

  .background-gradiant {
    // background: linear-gradient(180deg, #0b0127e0 0 25%, transparent);
    background: linear-gradient(rgba(11, 1, 39, 0.88) 0px, rgba(11, 1, 39, 0.4) 50%, transparent);
    width: 100vw;
    height: 700px;
    position: absolute;
  }

  .board {
    width: 80%;
    height: 80%;
    display: flex;
    // align-items: center;
    background-color: rgba(white, 0.6);
    border-radius: 20px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2), -4px -4px 8px rgba(255, 255, 255, 0.2);
    position: relative;
    

    .text {
      position: absolute;
      left: -40px;
      height: 36%;
      width: 50%;
      border-radius: 20px;
      background-color: rgba(255, 255, 255, 0.2);
      box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
      backdrop-filter: blur(5px);
      padding: 20px;
      display: flex;

      &.first {
        top: 8%;
        left: -80px;

        .hello {
          position: relative;
          top: 8px;
          font-size: 25px;
          color: aliceblue;
          text-shadow: 1px 0px rgba(0, 0, 0, 0.4);
          margin-right: 2px;
        }
  
        .para {
          font-size: 20px;
          color: #460a44;
          text-shadow: 1px 0px rgba(255, 255, 255, 0.4);
          display: flex;
          align-items: center;
        }
        @media screen and (max-width: 1280px){
          height: 45%;
          top: 4%;
        }
      }

      &.second {
        bottom: -120px;
        height: 55%;
        width: 30%;
        flex-direction: column;

        .para {
          font-size: 18px;
          color: #112d46;
          text-shadow: 1px 0px rgba(255, 255, 255, 0.4);
          margin-left: 26px;
          
          margin-top: 20px;
          margin-bottom: 20px;
        }

        @media screen and (max-width: 1280px){
          width: 45%;
        }

        @media screen and (min-width: 1281px) and (max-width: 1400px){
          width: 35%;
        }
      }

      
    }

    
  }
}