
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.padding {

  &-20 {
    padding: 20px;
  }

  &-right-70 {
    padding-right: 70px;
  }
}

.margin-top-8 {
  margin-top: 8px;
}

.u-t-align {
  text-align: center;
}

.u-v-middle {
  vertical-align: middle;
}

.horizontal-scroll {
  white-space: nowrap;
  overflow-x: scroll;
  scroll-behavior: smooth;
  padding: 12px 18px;

  @media screen and (max-width: 750px) {
    padding: 8px 12px;
  }

  -ms-overflow-style: none;  /* IE and Edge */

  &::-webkit-scrollbar {
    display: none;
  }
}