@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');

body {
 margin: 0;
 padding: 0; 
 font-family: 'Playfair Display', serif;
 text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

@import "../fontello-b9fe90f8/css/fontello.css";
.dweb {
  @import "../pure.scss";
  @import "../utilities.scss";
  @import "./heroSection.scss";
  @import "./summary.scss";
  @import "./experience.scss";
  @import "./family.scss";
  @import "./contact.scss";

}
